* {
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
    
  overflow-x: hidden;
 
}


 img.academy-logo{

height: 40px;
width: 200px;
margin-top: 20px;
margin-bottom: 150px;
}

.coming-soon h2{
text-decoration: underline rgb(17, 72, 175) 2px;
}
.coming-soon p.info{
  width: 50%;
}


.social-icons {
  margin-bottom: 20px;
 
}
.social-icons i {
  border: 2px solid;
  border-radius: 50%;
  padding: 5px;
   
 margin-right: 10px;
}