* {
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-image: url('../img/comingsoon/coming\ soon\ 1.svg');
  /* background-repeat: no-repeat; */
  /* background-position: right; */
  /* background-position-y: top; */
    /* background-attachment: scroll; */
    /* background-size: 100% ; */
    /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

    }  
  
  
 

img.academy-logo {
  height: 40px;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 100px;
}
.coming-soon {
  display: flex;
    justify-content: center;
    align-items: center;
}
.left-side,
.right-side {
  /* flex: 1; */
  /* flex-basis: 50%; */
}

.left-side h2 {
  text-decoration: underline rgb(17, 72, 175) 2px;
  margin-bottom: 30px;
}
.left-side p.info {
  width: 50%;
}

.social-icons {
  margin-bottom: 20px;
}
.social-icons i {
  border: 2px solid;
  border-radius: 50%;
  padding: 5px;

  margin-right: 20px;
}

.right-side{

 
}
.right-side img{
  width: 100%;
}


/* Responsive media queries */
@media screen and (max-width: 767px) {

  .coming-soon{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-side,
  .right-side, .info {
    text-align: center;
      
  }
  .left-side p.info {
  width: 100%;
}
}